#root {
    background: #121212;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    width: 40%;
    min-width: 350px;
    background: #575757;
    opacity: 1;
    border-radius: 30px;
    transform: rotate(270deg);
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    aspect-ratio: 1 / 1;
    background: #a26ed2;
    border-radius: 50%;
    transition: all .2s;
    cursor: default;
  }

  .slider::-webkit-slider-thumb:hover {
    border: 2px solid #121212;
    box-shadow: 0 0 0 4px #a26ed2;
    background: #855aad;
  }
  
  .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    aspect-ratio: 1 / 1;
    background: #a26ed2;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #a26ed2;
    cursor: default;
  }
  